# Options +FollowSymLinks
# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^www\.artemchuykin\.com$ [NC]
# RewriteRule ^(.*)$ http://artemchuykin.com/$1 [R=301,L]
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
# RewriteRule ^index\.php$ http://artemchuykin.com/ [R=301,L]
# RewriteBase /
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.php\ HTTP
# RewriteRule ^([^.]+)\.php$ http://artemchuykin.com/$1 [R=301,L]
# RewriteCond %{REQUEST_URI} !(\.[^./]+)$
# RewriteCond %{REQUEST_fileNAME} !-d
# RewriteCond %{REQUEST_fileNAME} !-f
# RewriteRule (.*) /$1.php [L]